{% extends "layout.html" %}
{% block title %}AI Recommendations{% endblock %}
{% block content %}
<h1>AI Recommendations</h1>
<div class="restaurant-list">
    {% for recommendation in recommendations %}
        <div class="restaurant-block" data-gmap-id="{{ recommendation.gmap_id }}" onclick="showDetails(this)">
            <h2 class="restaurant-name">{{ recommendation.name }}</h2>
            <img src="{{ recommendation.img_url }}" alt="{{ recommendation.name }}">
            <div class="restaurant-info">
                <div class="rating">⭐ {{ '{:.1f}'.format(recommendation.avg_rating) }}</div>
                <div class="reviews">📝 {{ recommendation.num_reviews }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Details Popup -->
<div id="detailsPopup" class="popup">
    <div class="popup-content">
        <button class="close-button" onclick="closePopup()">X</button>
        <h1 id="popupName">Restaurant Name</h1>
        <img id="popupImage" src="" alt="Restaurant Image">
        <p id="popupAddress">Address: </p>
        <p id="popupRating">Average Rating: </p>
        <p id="popupReviews">Number of Reviews: </p>
    </div>
</div>

<!-- JavaScript -->
<script>
    function showDetails(element) {
        const gmapId = element.getAttribute('data-gmap-id');
        fetch(`/restaurant_details/${gmapId}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error('Error fetching details:', data.error);
                    return;
                }

                // Populate the popup with data
                document.getElementById("popupName").textContent = data.name;
                document.getElementById("popupImage").src = data.img_url;
                document.getElementById("popupAddress").textContent = `Address: ${data.address}`;
                document.getElementById("popupReviews").textContent = `Number of Reviews: ${data.url}`;
                const formattedRating = data.rating.toFixed(1);
                document.getElementById("popupRating").textContent = `Average Rating: ${formattedRating}`;
                document.getElementById("popupReviews").textContent = `Number of Reviews: ${data.reviews}`;

                // Show the popup and disable scrolling
                document.getElementById("detailsPopup").classList.add("show");
                document.body.style.overflow = "hidden";
            })
            .catch(error => console.error('Error fetching details:', error));
    }

    function closePopup() {
        document.getElementById("detailsPopup").classList.remove("show");
        document.body.style.overflow = "";
    }
</script>
{% endblock %}
