<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Restaurant App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Common JavaScript functionality
        function showPopup(content) {
            $('#popup').html(content).addClass('show');
            $('#popup').show();
        }

        function hidePopup() {
            $('#popup').removeClass('show');
            $('#popup').hide();
        }

        // Add exit event listener
        window.addEventListener('beforeunload', function (event) {
            // Send exit event to backend
            sendExitEvent();
        });

        function sendExitEvent() {
            fetch('/exit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ event_type: 'exit' })
            }).catch(error => console.error('Error sending exit event:', error));
        }
    </script>
</head>
<body>
    <div class="top-left-icon">
        <img src="{{ url_for('static', filename='imgs/DineNY-ICON.png') }}" alt="DineNY Icon">
    </div>
    <header>
        <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
                    <li><a href="{{ url_for('restaurants') }}" class="nav-link">Restaurants</a></li>
                    <li><a href="{{ url_for('reviews') }}" class="nav-link">My Reviews</a></li>
                    <li><a href="{{ url_for('ai_recommendations') }}" class="nav-link">AI Recommendations</a></li>
                    <li><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
                </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Dine NY App. All rights reserved.</p>
    </footer>
    <div id="popup" class="popup" onclick="hidePopup()"></div>
</body>
</html>